<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Camino de Fe en mi Parroquia{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS propio -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">

</head>

<body>

    <!-- ==========================================
         MENÚ DE NAVEGACIÓN
         ========================================== -->

    {% include "components/navbar.html" %}


    <!-- ==========================================
         CONTENIDO DE CADA PÁGINA
         ========================================== -->

    <main>

        {% block contenido %}
        {% endblock %}

    </main>


    <!-- ==========================================
         PIE DE PÁGINA
         ========================================== -->

    <footer class="text-center p-4 mt-5">

        <p>Estudiante: Jesenia Montalván</p>

        <p>Asignatura: Desarrollo de Aplicaciones Web</p>

        <p>Año: 2026</p>

    </footer>


    <!-- Bootstrap JavaScript -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>


    <!-- JavaScript propio -->

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>